USE [SprintTaskBoardDb]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 11/09/2026 1:28:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Assignee] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[DueDate] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
	[Sprint] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD CHECK  (([Status]='Done' OR [Status]='Blocked' OR [Status]='In Progress' OR [Status]='Not Started'))
GO
/****** Object:  StoredProcedure [dbo].[DeleteTask]    Script Date: 11/09/2026 1:28:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTask]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Tasks WHERE Id = @Id)
    BEGIN
        RAISERROR('Task not found.', 16, 1);
        RETURN;
    END

    DELETE FROM Tasks WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTaskById]    Script Date: 11/09/2026 1:28:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTaskById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Tasks WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTasks]    Script Date: 11/09/2026 1:28:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTasks]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Tasks ORDER BY CreatedAt asc;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertTask]    Script Date: 11/09/2026 1:28:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTask]
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX) = NULL,
    @Assignee NVARCHAR(100) = NULL,
    @Status NVARCHAR(20),
    @DueDate DATETIME = NULL,
    @Sprint NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validation: Title required
    IF (@Title IS NULL OR LTRIM(RTRIM(@Title)) = '')
    BEGIN
        RAISERROR('Title is required.', 16, 1);
        RETURN;
    END

    -- Validation: DueDate cannot be past unless Done
    IF (@DueDate IS NOT NULL AND @DueDate < GETDATE() AND @Status <> 'Done')
    BEGIN
        RAISERROR('DueDate cannot be in the past unless status is Done.', 16, 1);
        RETURN;
    END

    -- Validation: Blocked must have description
    IF (@Status = 'Blocked' AND (@Description IS NULL OR LTRIM(RTRIM(@Description)) = ''))
    BEGIN
        RAISERROR('Blocked tasks must have a reason in Description.', 16, 1);
        RETURN;
    END

    INSERT INTO Tasks (Title, Description, Assignee, Status, DueDate, Sprint, CreatedAt, CompletedAt)
    VALUES (@Title, @Description, @Assignee, @Status, @DueDate, @Sprint, GETDATE(),
            CASE WHEN @Status = 'Done' THEN GETDATE() ELSE NULL END);
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateTask]    Script Date: 11/09/2026 1:28:46 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTask]
    @Id INT,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX) = NULL,
    @Assignee NVARCHAR(100) = NULL,
    @Status NVARCHAR(20),
    @DueDate DATETIME = NULL,
    @Sprint NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Tasks WHERE Id = @Id)
    BEGIN
        RAISERROR('Task not found.', 16, 1);
        RETURN;
    END

    -- Same validations as Insert
    IF (@Title IS NULL OR LTRIM(RTRIM(@Title)) = '')
    BEGIN
        RAISERROR('Title is required.', 16, 1);
        RETURN;
    END

    IF (@DueDate IS NOT NULL AND @DueDate < GETDATE() AND @Status <> 'Done')
    BEGIN
        RAISERROR('DueDate cannot be in the past unless status is Done.', 16, 1);
        RETURN;
    END

    IF (@Status = 'Blocked' AND (@Description IS NULL OR LTRIM(RTRIM(@Description)) = ''))
    BEGIN
        RAISERROR('Blocked tasks must have a reason in Description.', 16, 1);
        RETURN;
    END

    UPDATE Tasks
    SET Title = @Title,
        Description = @Description,
        Assignee = @Assignee,
        Status = @Status,
        DueDate = @DueDate,
        Sprint = @Sprint,
        CompletedAt = CASE WHEN @Status = 'Done' THEN GETDATE() ELSE NULL END
    WHERE Id = @Id;
END
GO
